<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{title}}</title>
    <meta charset="utf-8"/>
</head>
<body>
<div class="container mt-md-5 col-10">
    <a href="/" class="badge badge-info">Вернуться</a>
    <h3>Создание</h3>
    {{#each products}}
        <form method="POST">
            <div class="form-group">
                <label for="question">Картинка</label>
                <input type="text" name="image" class="form-control" id="image" value="{{this.image}}" disabled>
            </div>
            <div class="form-group">
                <label for="answer">Название</label>
                <input type="text" name="name" class="form-control" id="name" value="{{this.name}}" disabled>
            </div>
            <div class="form-group">
                <label for="function">Описание</label>
                <input type="text" name="description" class="form-control" id="description" value="{{this.description}}" disabled>
            </div>
            <div class="form-group">
                <label for="method">Состав</label>
                <input type="text" name="composition" class="form-control" id="composition" value="{{this.composition}}" disabled>
            </div>
            <div class="form-group">
                <label for="subjectArea">кКал</label>
                <input type="number" name="kcal" class="form-control" id="kcal" value="{{this.kcal}}" disabled>
            </div>
            <div class="form-group">
                <label for="subjectArea">Белки</label>
                <input type="text" name="proteins" class="form-control" id="proteins" value="{{this.proteins}}" disabled>
            </div>
            <div class="form-group">
                <label for="subjectArea">Жиры</label>
                <input type="text" name="fats" class="form-control" id="fats" value="{{this.fats}}" disabled>
            </div>
            <div class="form-group">
                <label for="subjectArea">Углеводы</label>
                <input type="text" name="carbohydrates" class="form-control" id="carbohydrates" value="{{this.carbohydrates}}" disabled>
            </div>
            <div class="form-group">
                <label for="subjectArea">Цена</label>
                <input type="number" name="price" class="form-control" id="price" value="{{this.price}}" disabled>
            </div>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    {{/each}}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<html>
